body {
   
    background-image: url('../images/background.png');
    font-family: 'Roboto';
    background-size: 100%;
    padding: 20px;
}

@keyframes acrosspage {
  0% {
    transform: translateX(-10em);
  }
  100% {
    transform: translateX(80em);
  }
}

#day0, #day1, #day2, #day3, #day4, #day5, #day6{
  font-size: 1.5vw;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

#high0, #high1, #high2, #high3, #high4, #high5, #high6 {
  display: block;
  font-size: 1.4vw;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

#inputLine {
  text-align: center;
  display: block;
  margin: 0 auto;
}


#setColumns {
  display: block;
  height: 20%;
  margin: 0 auto;
  padding-left: 10vw;
}

#weather_desc0, #weather_desc1, #weather_desc2, #weather_desc3, #weather_desc4, #weather_desc5, #weather_desc6 {
  display: block;
  font-size: 1vw;
  margin: 0 auto;
  text-align: center;
}

#weather_img_icon0, #weather_img_icon1, #weather_img_icon2, #weather_img_icon3, #weather_img_icon4, #weather_img_icon5, #weather_img_icon6 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 650px) {
    #weather_img_icon0, #weather_img_icon1, #weather_img_icon2, #weather_img_icon3, #weather_img_icon4, #weather_img_icon5, #weather_img_icon6 {
    width: 5vw;
  }
}

#header {
    text-align:center;
    color:cornsilk;
    font-size:2em;
    font-style:revert;
}

#search {
    text-align: center;
    margin: 20px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}




